<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>个人便利贴</title>
	<link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
	<div id="ct">
	    <div class="header">
	    	<ul class="clearfix">
	    	    <li class="add">添加</li>
	    	</ul>
	    </div>
		<div class="notes">
			<ul>
			</ul>
		</div>
	</div>
	<script src="/javascripts/index.js"></script>
</body>
</html>